<html>
    <head>
        <title>Counted</title>
    </head>
    <body>
        <h2>The word '{{ word }}' appears {{ repeats }} time(s) in the phrase '{{ string }}.'
        <a href='/'><button type='button'>Count again!</button></a>
    </body>
</html>
