<html>
    <head>
        <title>Count Repeats</title>
    </head>
    <body>
        <h2>How often does your word appear in your phrase?</h2>
        <form action='/results'>
            <label for='word'>Your word:</label>
            <input id='word' name='word' type='text'>
            <label for='string'>Your phrase:</label>
            <input id='string' name='string' type='text'>
            <button type='submit'>Count it!</button>
        </form>
    </body>
</html>
