<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Counted</title>
    </head>
    <body>
        <div class='container'>
            <h3>The word <strong>'{{ word }}'</strong> appears <strong>{{ repeats }}</strong> time(s) in the phrase <strong>'{{ string }}'</strong></h3>
            <a href='/'><button type='button' class='btn btn-primary'>Count again!</button></a>
        </div>
    </body>
</html>
